@font-face
  font-family proxima-nova
  font-style normal
  font-weight normal
  src: url(/assets/fonts/proximaNova/proximanova-regular-webfont.eot)
  src: url(/assets/fonts/proximaNova/proximanova-regular-webfont.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/proximaNova/proximanova-regular-webfont.woff) format('woff'),
  url(/assets/fonts/proximaNova/proximanova-regular-webfont.ttf) format('truetype'),
  url(/assets/fonts/proximaNova/proximanova-regular-webfont.svg#proxima_nova_regular) format('svg')

@font-face
  font-family proxima-nova
  font-style normal
  font-weight bold
  src: url(/assets/fonts/proximaNova/proximanova-bold-webfont.eot)
  src: url(/assets/fonts/proximaNova/proximanova-bold-webfont.eot?#iefix) format('embedded-opentype'),
  url(/assets/fonts/proximaNova/proximanova-bold-webfont.woff) format('woff'),
  url(/assets/fonts/proximaNova/proximanova-bold-webfont.ttf) format('truetype'),
  url(/assets/fonts/proximaNova/proximanova-bold-webfont.svg#proxima_nova_regular) format('svg')


